/* stylelint-disable selector-class-pattern */

/* Upload 组件样式覆盖 */
.nm-upload {
  width: 100%;

  .el-upload--picture-card,
  .el-upload-list__item {
    width: 100px !important;
    height: 100px !important;
  }

  .el-upload-list--picture-card .el-progress {
    width: 100px !important;
  }

  .el-progress-circle {
    width: 100px !important;
    height: 100px !important;
  }

  .el-upload-list--picture-card .el-upload-list__item-actions {
    font-size: 14px;
  }

  .thumbnail {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 5px 0 0;

    .filename {
      width: 100%;
      min-height: 18px;
      margin-top: 2px;
      overflow: hidden;
      font-size: 12px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .file-icon {
      font-size: 32px;
      color: #409eff;
    }
  }

  /* 上传进度样式 */
  .upload-progress-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .progress-content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      .progress-circle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;

        .progress-svg {
          width: 100%;
          height: 100%;
        }

        .progress-text {
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 14px;
          font-weight: 500;
          color: #409eff;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

/* stylelint-enable selector-class-pattern */
